body{
    font-family: "Open Sans", serif;
}

/* custom.css */
.custom-navbar {
    background-color: #333333;
    color: #ffffff;
}

.custom-navbar .nav-link {
    color: #ffffff;
}

.custom-navbar .nav-link:hover {
    color: #ff9900;
}

.custom-navbar .navbar-brand {
    color: #ff9900;
}

.navbar-toggler i {
    color: white;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.navbar-toggler i:hover {
    color: #ff9900;
}